.img-card {
  width: auto;
  height: 250px;
  max-height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
@keyframes imgScaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.img-inside:hover {
  animation-name: imgScaleUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.img-inside {
  width: auto;
  height: 250px;
  max-height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}

.orange-color {
  background-color: rgb(255, 188, 0);
}
@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
  .card-title-h5 {
    font-size: 24px;
  }
  .card-topic-p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
  .card-title-h5 {
    font-size: 18px;
  }
  .card-topic-p {
    font-size: 14px;
  }
  .img-card {
    width: auto;
    height: 175px;
    max-height: 100%;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
  .card-title-h5 {
    font-size: 20px;
  }
  .card-topic-p {
    font-size: 14px;
  }
  .img-card {
    width: auto;
    height: 250px;
    max-height: 100%;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
  .card-title-h5 {
    font-size: 22px;
  }
  .card-topic-p {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
  .card-title-h5 {
    font-size: 22px;
  }
  .card-topic-p {
    font-size: 16px;
  }
}
