.container {
  height: 100%;
}

#carousel {
  height: 550px;

  padding-right: 3%;
  padding-left: 3%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10%;
}

#icon-prev {
  height: 40px;
  width: 40px;
  margin-left: 25px;
  opacity: 80%;
}

#icon-next {
  height: 40px;
  width: 40px;
  max-width: 100%;
  margin-right: 25px;
  opacity: 80%;
}

#icon-next:hover {
  height: 50px;
  width: 50px;
  opacity: 100%;
}

#icon-prev:hover {
  height: 50px;
  width: 50px;
  opacity: 100%;
}
/* .carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 25%;
  top: calc(50%-25px);
  margin-top: 250px;
  opacity: 30%;
}

.carousel-control-prev {
  left: 5%;
}

.carousel-control-next {
  right: 5%;
} */

section {
  padding-top: 2rem;
}

.caption {
  position: relative;
  font-family: "KBFG Display";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 67px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(0 0 0 / 50%) 0px 16px 32px;
  margin-bottom: 180px;
  z-index: 2;
  text-align: start;
}

@media (max-width: 770px) {
  .caption {
    font-size: 28px;
    line-height: 36px;
    color: rgb(243, 243, 243);
    text-shadow: rgb(0 0 0 / 100%) 0px 16px 32px;
    margin-bottom: 50px;
    text-align: center;
  }
}

@media (max-width: 770px) {
  #carousel {
    height: 550px;
    padding-top: 0%;
    padding-right: 0%;
    padding-left: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    margin-top: 0%;
  }
}

.searched {
  font-family: "KBFG Text";
  margin-right: 85%;
  margin-bottom: 5%;
  opacity: 90%;
}

@media (max-width: 770px) {
  .searched {
    font-family: "KBFG Text";
    margin-right: 0%;
    margin-bottom: 0%;
  }
}
