.row-detail {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.img-top-80 {
  width: 512px;
  height: auto;
  max-width: 80%;
  margin: 1vw 0 1vw 0;
}
.img-top-80:hover {
  animation-name: hoveringImage;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.main-content {
  padding: 0 15vw;
}
.topping {
  align-items: center;
}
.main-content .list-group {
  text-align: justify;
}
.orange-text {
  color: rgb(255, 188, 0);
  text-align: center;
}

@keyframes hoveringImage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.container-detail,
.container-fluid-detail,
.container-xxl-detail,
.container-xl-detail,
.container-lg-detail,
.container-md-detail,
.container-sm-detail {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm-detail,
  .container-detail {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl-detail,
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl-detail,
  .container-xl-detail,
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 1320px;
  }
}
