.img-card {
  width: auto;
  height: 250px;
  max-height: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}
.orange-color {
  background-color: rgb(255, 188, 0);
}
@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
 
  .card-title-h5 {
    font-size: 18px;
  }
  .card-topic-p {
    font-size: 14px;
  }
  .img-card {
    width: auto;
    height: 175px;
    max-height: 100%;
  }
}
@media (min-width: 992px) {
  
  .card-title-h5 {
    font-size: 20px;
  }
  .card-topic-p {
    font-size: 14px;
  }
  .img-card {
    width: auto;
    height: 250px;
    max-height: 100%;
  }
}
@media (min-width: 1200px) {
 
  .card-title-h5 {
    font-size: 22px;
  }
  .card-topic-p {
    font-size: 16px;
  }
}
@media (min-width: 1400px) {
  
  .card-title-h5 {
    font-size: 22px;
  }
  .card-topic-p {
    font-size: 16px;
  }
}
