.img-card-item {
  width: 300px;
  height: auto;
  max-width: 100%;
  border-top-right-radius: calc(0.5rem - 1px);
  border-bottom-right-radius: calc(0.5rem - 1px);
}
.card-list-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}
.card-item-body{
  display: flex;
  width:100%;
  height: auto;
  flex-direction: column;
  padding:calc(1.5rem - 1px);
  align-items: flex-start;
  justify-content: space-between;
}
.card-item-title{
  font-size: 22px;
  align-self:flex-start;
}
.card-item-text{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  align-self: flex-start;
  font-size:18px;
  text-align: justify;
  overflow: hidden;
}
.foot-of-card{
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.date-of-news{
  font-size:16px;
  display: inline-block;
}
.card-more{
  font-size: 16px;
}
@media (max-width: 576px) {
  .img-card-item {
    width:auto;
    height: 250px;
    max-height:100%;
    border-top-right-radius: calc(0.5rem - 1px);
    border-bottom-right-radius: calc(0.5rem - 1px);
  }
  .card-list-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
  }
}

@media (min-width: 577px) {
 
  .card-item-title{
    font-size: 18px;
    align-self: flex-start;
  }
  .card-item-text{
    font-size: 14px;
  }
  .img-card-item {
    width: 250px;
    height: auto;
    max-width:100%;
  }
}
@media (min-width: 992px) {
  
  .card-item-title{
    font-size:22px;
  }
  .card-item-text{
    font-size: 16px;
    text-align: justify;
  }
  .img-card-item {
    width: 300px;
    height: auto;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
 
  .card-item-title{
    font-size: 22px;
  }
  .card-item-text{
    font-size: 16px;
    text-align: justify;
  }
}
@media (min-width: 1400px) {
  
  .card-item-title {
    font-size: 22px;
  }
  .card-item-text{
    font-size: 16px;
    text-align: justify;
  }
}
.orange-color {
  background-color: rgb(255, 188, 0);
}