.background-white {
  background-color: white;
  border-color: white;
  color: blue;
  border: none;
  margin-top: 2px;
}

#dropdown-basicAbout:hover {
  color: rgb(255, 188, 0);
  background-color: white;
}

#dropdown-basicAbout.dropdown-toggle {
  background-color: white;
  border-color: blue;
  color: blue;
}

#dropdown-basicSolution:hover {
  color: rgb(255, 188, 0);
  background-color: white;
}

#dropdown-basicSolution.dropdown-toggle {
  background-color: white;
  border-color: blue;
  color: blue;
}
/**/
.container-fluid .row .col-10 .navbar-brand {
  color: rgb(255, 188, 0);
}

.container-fluid .collapse .navbar-nav {
  color: rgb(255, 188, 0);
}

.logo-kbds {
  width: 512px;
  height: auto;
  max-width:50%;
  margin-left:2em;
}

.background-white {
  color: rgb(255, 188, 0);
}

.nav-link {
  color: rgb(255, 188, 0);
}


