.background-white {
  background-color: white;
  border-color: white;
  color: black;
  border: none;
  margin-top: 2px;
}

#dropdown-basicAbout:hover {
  color: rgb(255, 188, 0);
  background-color: white;
}

.item-nav{
  color: rgb(255, 188, 0);
  background-color: white;
}

.logo-kbds {
  width: 350px;
  height: auto;
  max-width: 100%;
  margin-left: 2em;
  margin-right: auto;
}

.background-white {
  color: rgb(255, 188, 0);
}

@media (min-width: 576px) {
  .container-sm-detail,
  .container-detail {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl-detail,
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl-detail,
  .container-xl-detail,
  .container-lg-detail,
  .container-md-detail,
  .container-sm-detail,
  .container-detail {
    max-width: 1320px;
  }
}
.item-nav{
  color: rgb(255, 188, 0);
  background-color: white;
}
.nav-no-dropdown{
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(255, 188, 0);
  text-decoration: none;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  max-height: 2.3rem;
  box-sizing: border-box;
}
.item-nav:hover{
  color:white;
  background-color: rgb(96,88,76);
}
.nav-no-dropdown:hover{
  display: block;
  padding: 0.5rem 1rem;
  color:white;
  background-color: rgb(96,88,76);
  text-decoration: none;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  max-height: 2.4rem;
  box-sizing: border-box;
}