.target {
  width: 100%;
  height: 200px;
  /* border:solid black 1px;  */
}
.target > div {
  display: flexbox;
}

.target > div:target {
  display: flexbox;
}

.companyOverview .my-5 h1 {
  font-family: "KBFG Display";
  font-style: normal;
  font-weight: 600;
  /*font-size: 24px; */
  line-height: 36px;
  color: rgb(255, 188, 0);
}

.Header .my-5 h1 {
  font-family: "KBFG Display";
  font-style: normal;
  font-weight: 600;
  /*font-size: 24px; */
  line-height: 36px;
  color: rgb(255, 188, 0);
}

.row .gy-4 {
  /* /*color: rgb(119, 119, 119); */
  font-family: "KGBF Text";
}

/*
.Header .container-fluid .row .row{
    position: relative;
    display: block;
    font-family: "KBFG Display";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 37px;
    color: rgb(119, 119, 119);
    
    
}*/

#border {
  height: 12rem;
}
