.content-mid {
  position: relative;
}
.logo-spinY {
  display: flex;
  position: absolute;
  top: 3rem;
  opacity: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img-logo-left {
  width: 262px;
  height: auto;
  max-width: 75%;

  animation-name: rotationLogoKBDS;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.target {
  width: 100%;
  height: 200px;
  /* border:solid black 1px;  */
}
.target > div {
  display: flexbox;
}

.target > div:target {
  display: flexbox;
}

.companyOverview .my-5 h1 {
  font-family: "KBFG Display";
  font-style: normal;
  font-weight: 600;
  /*font-size: 24px; */
  line-height: 36px;
  color: rgb(255, 188, 0);
}

.Header .my-5 h1 {
  font-family: "KBFG Display";
  font-style: normal;
  font-weight: 600;
  /*font-size: 24px; */
  line-height: 36px;
  color: rgb(255, 188, 0);
}

.row .gy-4 {
  /* /*color: rgb(119, 119, 119); */
  font-family: "KGBF Text";
}

.img-achievements {
  width: 459px;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

.img-achievements:hover {
  animation-name: imgScaleUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes imgScaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
/*
.Header .container-fluid .row .row{
    position: relative;
    display: block;
    font-family: "KBFG Display";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 37px;
    color: rgb(119, 119, 119);
    
    
}*/
@keyframes rotationLogoKBDS {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
#border {
  height: 12rem;
}
